
.align-center {
  text-align: center;
}

.highlight {
  background-color: #f4f4f4;
}

.center {
  display: block;
  margin: 0 auto;
}

.vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.top-radius {
  border-radius: 10% 10% 0 0;
}

.bottom-radius {
  border-radius: 0 0 10% 10%;
}

.round {
  border-radius: 50%;
}

.transparent-header {
  // This is just to make the header transparent and button/icon with white color
  .toolbar-content,
  .back-button {
    color: white;
  }
  .toolbar-background,
  ion-navbar,
  ion-header {
    background: transparent !important;
    background-color: transparent !important;
  }
  .header-md::after,
  .toolbar-background-ios {
    background-image: none;
    border-bottom: 0;
  }
  .header-ios .toolbar-background-ios,
  .footer-ios .toolbar-background-ios {
    border: 0;
  }
  // ---
}

.icon-badge {
  top: 0px;
  right: 0px;
  background: #FF5D5D;
  color: white;
  font-size: 12px;
  position: absolute;
  padding: 5px 8px;
  border-radius: 15px;
}


.sideMenuContent {
  background-color: #233e52 !important;
}

#menu-components {
  .user-avatar {
    max-width: 125px;height: 125px;
    padding: .5em;
  }
  h3,
  p,
  ion-icon,
  .label {
    color: white;
    font-weight: bold;
  }
  .item-md ion-icon[item-left] + .item-inner, .item-md ion-icon[item-left] + .item-input, .item-md ion-icon[item-start] + .item-inner, .item-md ion-icon[item-start] + .item-input {
    margin-left: 14px;
  }
  .item {
    background: transparent;
  }
  ion-content {
    background-color: #233e52 !important;
  }
  .menu-inner {
    background: rgba(255, 255, 255, .3);
  }
}

